<div class="container">
    <br />

    <table class="table table-bordered table-striped table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Loan Type</th>
                <th>Loan Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tList of this.patientService.request">
                <td>{{ List.CustomerName }}</td>
                <td>{{ List.PhoneNumber }}</td>
                <td>{{ List.Address }}</td>
                <td>{{ List.LoanType }}</td>
                <td>{{ List.LoanAmount }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>